<header>
  <h1>Movies</h1>

  <ul class="actions">
    <% if user_signed_in? %>
      <li><%= link_to "New Movie", new_movie_path, class: "new" %></li>
    <% end %>
  </ul>

</header>

<div id="search" class="form-group">
  <%= form_tag(search_movies_path, remote: true) do %>
    <%= text_field_tag :search, nil, { :class => "form-control"} %>
    <%= submit_tag "search", { :class => "btn btn-default form-control"} %>
  <% end %>
</div>

<div id="movies">
  <%= render @movies %>
</div>

<div id="paginator">
  <%= paginate @movies, remote: true %>
</div>
