<% title(@movie.title, "Movies") %>

<header>

  <h1><%= @movie.title %></h1>

  <ul class="actions">
    <% if owner(@movie)  %>
      <li><%= link_to "Edit Movie", edit_movie_path(@movie),
            class: "edit" %></li>
      <li><%= link_to "Delete Movie", movie_path(@movie),
          method: :delete,
         data: { confirm: "Are you sure you want to delete this movie?"},
          class: "delete" %></li>
     <% end %>
  </ul>
</header>
<p>Descripcion: <%= @movie.text %></p>

<% if @movie.categories.any? %>
  <p>
  Categories: 

  <ul>
    <% @movie.categories.each do |category| %>
      <li><%= category %></li>
    <% end %>
  </ul>
  </p>
<% end %>
